@import "custom-bootstrap";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #595959;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// ----------

#logo-doatec {
  width: 120px;
}

#maos-coracao {
  width: 50%;
}

.titulo-pequeno {
  text-transform: uppercase;
  font-size: 12px;
}

.bg-azul {
  background-color: $azul;
}

#banner-lateral {
  background-image: url(./img/banner-lateral.png);
  background-position: 100%;
  background-size: cover;
  background-blend-mode: overlay;
  color: white;
  .texto-bg-branco {
    background-color: white;
    display: inline-block;
    color: $rosa;
    font-weight: 600;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .area-manchete-estudante {
    margin-top: 600px;
  }
}

.container-central {
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 30px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 30px -32px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 30px -32px rgba(0, 0, 0, 0.75);

  .header-interno {
    margin-bottom: 20px;
  }
  .main-interno {
    .item-lista {
      background-color: #f5f5f5;
      border-radius: 15px;
    }
  }
  .footer-interno {
    border-top: 1px solid #ebebeb;
  }
}

.container-sem-conteudo {
  .imagem {
    img {
      width: 30%;
      opacity: 0.1;
    }
    position: relative;
  }
  .texto {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
  }
}
